<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                selectChannel()

                let socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port)

                socket.on('connect', () => {
                    document.getElementById("sendMessage").onclick = () => {
                        console.log('submitting...')
                        socket.emit('sendMessage', {
                            'message': document.getElementById('messageToSend').value
                        })
                    }
                })
                
                //'messageForGivenChannel': messagesRecieved, 'channelName': channel
                socket.on('announce new message', data => {
                    if(data['channelName'] == '{{channelName}}') {
                        let messageUL = document.getElementById('messages')
                        let newMessageArray = []
                        let messageData = data.messageForGivenChannel

                        let newEl = document.createElement('li')
                        newEl.innerHTML = 'message: ' + messageData.msg + ' ----- written by: ' +  messageData.user + ' on '+ messageData.date
                        messageUL.appendChild(newEl)
                    }
                    
                })

            })


            function logout() {
                const req = new XMLHttpRequest()
                req.addEventListener("load", () => {
                    document.open()
                    document.write(req.responseText)
                    document.close()
                })
                const fd = new FormData()
                req.open("POST", "/logout")
                req.send(fd)
                return false
            }

            function createChannel() {
                const req = new XMLHttpRequest()
                req.addEventListener("load", () => {
                    document.open()
                    document.write(req.responseText)
                    document.close()
                })
                req.addEventListener("error", () => {
                    document.open()
                    document.write(req.responseText)
                    document.close()
                })
                const fd = new FormData()
                fd.append("channelName", document.getElementById("channelName").value)
                req.open("POST", "/createChannel")
                req.send(fd)
                return false
            }

            function selectChannel() {
                const req = new XMLHttpRequest()
                req.addEventListener("load", () => {
                    const res = JSON.parse(req.responseText)
                    console.log(res)
                    
                    let messageUL = document.getElementById('messages')
                    while(messageUL.firstChild){
                        messageUL.removeChild(messageUL.firstChild)
                    }

                    for (key in Object.keys(res)){
                        if(key !== "count"){
                            if(res[key]){
                                console.log(res[key])
                                let newEl = document.createElement('li')
                                newEl.innerHTML = 'message: ' + res[key].msg + ' ----- written by: ' +  res[key].user + ' on '+ res[key].time
                                messageUL.appendChild(newEl)
                            }
                        }
                    }
                })
                const fd = new FormData()
                fd.append("channelName", document.getElementById("channelSelect").value)
                req.open("POST", "/selectChannel")
                req.send(fd)
                return false
            }
        </script>
    </head>

    <body>
        <h1>Welcome {{ display_name }}</h1>
        <button onclick="logout()">Logout</button>

        <div>
            <label>Select a channel</label>
            <select id="channelSelect" onchange="selectChannel()">
                {% for channel in channels %}
                <option value={{channel}}>{{channel}}</option>
                {% endfor %}
            </select>
        </div>
            
        <form onsubmit="return createChannel()">
            <label>Choose a name for the channel:</label>
            <input type="text" id="channelName" name="channelName">
            <input type="submit" value="submit">
        </form>
        <label>Send message:</label>
        <input type="text" id="messageToSend" name="messageToSend">
        <button id="sendMessage">Send</button>
        <div>
            <ul id="messages">
                {% for msg in messages %}
                <li>{{msg[0]}}     {{msg[1]}}     {{msg[2]}}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>